If-else

1) grade code
p=50
O: p>75
A : 60 < p>75
B: 50<p<60
C: 35<p<50
fail:p<35

In [1]:
#1.

p = 50
if p > 75:
    print("Grade Code o")
elif 60<p>=75:
    print("Grade Code A")
elif 50<p>=60:
    print("Grade Code B")
elif 35<p>=50:
    print("Grade Code c")
else:
    print("fail")

Grade Code c

In [2]:
# If example 

x = 5
if x==5:
    print("it is true")

it is true

In [3]:
x = 0
if (x > 0):
    print("X is Positive")
elif (x<0):
    print("X is Negative")
else:
    print("X is ZERO")

X is ZERO

In [4]:
x = [2,4,6,8,10]
num = int(input("enter any number from x"))
if num in x:
    print("number is even")

enter any number from x4
number is even

In [5]:
x = 10
if x >= 7:
    print("number is gretter then 7")

number is gretter then 7

In [7]:
# If else example

x = [1,3,5,7,9]
y = [2,4,6,8,10]
num = int(input("enter any integer in berween 0 and 10: "))
if num in x:
    print('number',num, 'is lies in x and it is odd')
else:
    print('number',num, 'is leis in y and it is even')

enter any integer in berween 0 and 10: 4
number 4 is leis in y and it is even

In [8]:
num=int(input("enter any integer: "))
if num % 2 == 0:
    print("Given number is even")
else:
    print("Given numer is odd")

enter any integer: 6
Given number is even

In [9]:
age = int(input("Enter your age :"))

if age >= 18:
    print("You can drive")
else:
    print("You are not eligible to drive")

Enter your age :5
You are not eligible to drive

In [10]:
score = int(input("Enter your percentage"))

if score >= 35:
    print("You passed the exam")
else:
    print("You failed the exam")

Enter your percentage67
You passed the exam

In [11]:
number = int(input("Enter any number :"))

if number % 3 == 0:
    print("The number is divisible by 3")
else:
    print("The number is not divisible by 3")

Enter any number :6
The number is divisible by 3

In [12]:
day = str(input("Enter any day :"))

if day == "Saturday" or day == "Sunday":
    print("It is the weekend")
else:
    print("It is weekday")

Enter any day :sunday
It is weekday

2) n divisible by 2 or 3
n=7
2 divisble, 3 not
divisible by 2,and 3
divisible by 3, not 2
not divisible by 2, and 3

In [13]:
num = int(input("enter any integr"))
if num % 2 == 0 and num % 3 == 0:
    print('number', num, 'is divisiable by 3 and 2')
elif num % 2 ==0:
    print('number',num, 'is divisiable by 2 but not 3')
elif num % 3 ==0:
    print('number',num,'is divisiable by 3 but not2')
else:
    print('number',num, 'is not divisible by 2 and 3 ')

enter any integr56
number 56 is divisiable by 2 but not 3

In [14]:
per = int(input("Enter your 12th percentage :"))
if per >= 60:
    print("First Division")
elif per >= 50:
    print("Second Divison")
elif per >= 40:
    print("Third Divison")
else:
    print("fail")

Enter your 12th percentage :56
Second Divison

In [15]:
x = 0
if (x > 0):
    print("X is Positive")
elif (x<0):
    print("X is Negative")
else:
    print("X is ZERO")

X is ZERO

In [16]:
weight = int(input("Enter your weight : "))

if weight < 50:
    print("Underweight")
elif weight <= 70:
    print("Normal weight")
else:
    print("Overweight")

Enter your weight : 70
Normal weight

In [17]:
number = int(input("Enter any number : "))

if number < 10:
    print("The number is less than 10")
elif number == 10:
    print("The number is equal to 10")
else:
    print("The number is greater than 10")

Enter any number : 7
The number is less than 10

In [18]:
hour = int(input("Enter hour between 1 to 24 :"))

if hour < 12:
    print("Good morning")
elif 12 <= hour < 18:
    print("Good afternoon")
else:
    print("Good evening")

Enter hour between 1 to 24 :23
Good evening

# For Loop

In [19]:
#1.Print odd value betwween 20 and 80 without using if.Using for loop only
for i in range(21,81,2):
    print(i,end=' ')

21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79

In [20]:
#2.Create list of 1 to 20 number using for loop [1,2,3....20]

for i in range(1,21):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [21]:
#3.Create a list of 20 to 1 value using for loop don't use Reverse

for i in range(20,0,-1):
    print(i,end=' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [22]:
#4.Take cube of odd values between 20 to 40

for i in range(21,41,2):
    print(i*i*i,end=' ')

9261 12167 15625 19683 24389 29791 35937 42875 50653 59319

In [23]:
#5.Take 5 friend name in list name =[a,b,c,d,e] take corresponding ages in secod list
#age=[20,21,22,23,24] expected ans : my name is a and my age is 20

    
name = ["Ram", "Sham", "Jay", "Shubham", "Pravin", "Saurabh"]
age = [22, 23, 24, 20, 19, 18]
for i in range(len(name)):
    print('My name is', name[i],'My age is', age[i])

My name is Ram My age is 22
My name is Sham My age is 23
My name is Jay My age is 24
My name is Shubham My age is 20
My name is Pravin My age is 19
My name is Saurabh My age is 18

# Solve Using if and for loop  and data types methods ;

In [24]:
#Given a list, write a Python code  to swap first and last element of the list.

l = [5,6,7,8,9]

for i in range(len(l)):
    if i == 0:
        first = l[i]
    elif i == len(l)-1:
        last = l[i]
        
l[0] = last
l[len(l)-1] = first
        
print(l)

[9, 6, 7, 8, 5]

In [62]:
#write code count lenght of string
string = "will Power!"

count = 0

for i in string:
    count += 1
print("Length of the string : ", count)

Length of the string :  11

In [26]:
#Write a Python program to get the sum of a only non-negative integer. ex, [1,4,-5,-20,10] ans is 15

l = [1,4,-5,-20,10]
x = []
for i in l:
    if i>0:
        x.append(i)
print(x)
print(sum(x))

[1, 4, 10]
15

In [27]:
l = [1,4,-5,-20,10]
x = []
for i in l:
    x.append(i) if i>0 else None
print(x)
print(sum(x))

[1, 4, 10]
15

In [63]:
#write code of factorial , ex.ans 6 (3*2*1)
num=int(input("Enter any Integer :"))
fact = 1
for i in range(1,num+1):
    fact=fact*i
print("factorial value is", fact)

Enter any Integer :5
factorial value is 120

# While Loop

In [28]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [29]:
#break Statement
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [30]:
#Continue
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [31]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
        print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [32]:
#1)odd-even using while loop 
i = 0
while i < 20:
    i=i+1
    if i % 2 ==0:
        print(i, 'number is even')
    else:
        print(i, 'number is odd')

1 number is odd
2 number is even
3 number is odd
4 number is even
5 number is odd
6 number is even
7 number is odd
8 number is even
9 number is odd
10 number is even
11 number is odd
12 number is even
13 number is odd
14 number is even
15 number is odd
16 number is even
17 number is odd
18 number is even
19 number is odd
20 number is even

In [33]:
#2.
i = 1
while i <= 5:
    print('*'*i)
    i=i+1

*
**
***
****
*****

In [34]:
#3) creat list 1-20 numbers list using while loop=> [1,2,3... 20]

i=0
while i <= 19:
    i=i+1
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [35]:
#4)  creat list 20-1 (revers order) using while loop=> [20,19...1]

i = 20
while i >= 1:
    print(i, end=" ")
    i=i-1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1